.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
  border-radius: 8px;
}

.title {
  margin-top: 6px;
  font-size: 12px; /* ย่อขนาดชื่อเรื่อง */
  text-align: center;
  color: var(--text-h);
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}